<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic Page - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<%-include('templates/headstyle')%>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<%-include('templates/header')%>

		<!-- Heading -->
			<div id="heading" >
				<h1>Generic Page</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
					<%if(data.length>0){%>
							<form method="post" action="http://127.0.0.1:8002/update"> 	
								<div class="row gtr-uniform">
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" value="<%=data[0].name%>" placeholder="Name" />
										<input type="hidden" name="id" id="name" value="<%=data[0].id%>" placeholder="Name" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="email" name="email" id="email" value="<%=data[0].email%>" placeholder="Email" />
									</div>
									<!-- Break -->
									<div class="col-12">		
										<select name="category" id="category" required="">
											<option value="">- Select -</option>
											<option  <%if(data[0].category=="alpha"){%>	selected<%}%> value="alpha">Option alpha</option>
											<option <%if(data[0].category=="beta"){%>	selected<%}%>  value="beta">Option beta</option>
											<option <%if(data[0].category=="gamma"){%>	selected<%}%>  value="gamma">Option gamma</option>
											<option  <%if(data[0].category=="delta"){%>	selected<%}%>  value="delta">Option delta</option>
											<option <%if(data[0].category=="epsilon"){%>	selected<%}%>   value="epsilon">Option epsilon</option>
											<option  <%if(data[0].category=="zeta"){%>	selected<%}%>  value="zeta">Option zeta</option>
											<option <%if(data[0].category=="eta"){%>	selected<%}%>  value="eta">Option eta</option>
											<option  <%if(data[0].category=="theta"){%>	selected<%}%>  value="theta">Option theta</option>
										</select>
									</div>
									<!-- Break -->
									<div class="col-4 col-12-small">		 
										<input  <%if(data[0].radio=="Radio alpha"){%>	checked<%}%> type="radio" id="radio-alpha" name="radio" value="Radio alpha">
										<label for="radio-alpha">Radio alpha</label>
									</div>
									<div class="col-4 col-12-small">
										<input <%if(data[0].radio=="Radio beta"){%>	checked<%}%> type="radio" id="radio-beta" name="radio" value="Radio beta">
										<label for="radio-beta">Radio beta</label>
									</div>
									<div class="col-4 col-12-small">
										<input <%if(data[0].radio=="Radio gamma"){%>checked<%}%> type="radio" id="radio-gamma" name="radio" value="Radio gamma">
										<label for="radio-gamma">Radio gamma</label>
									</div>
									<!-- Break -->
									<div class="col-6 col-12-small">
										<input  type="checkbox" id="checkbox-alpha" name="checkbox" value="Checkbox alpha" <%if(data[0].checkbox=="Checkbox alpha"){%>checked<%}%>>
										<label for="checkbox-alpha">Checkbox alpha</label>
									</div>
									<div class="col-6 col-12-small">
										<input type="checkbox" id="checkbox-beta" name="checkbox" value="Checkbox beta" <%if(data[0].checkbox=="Checkbox beta"){%>checked<%}%> >
										<label for="checkbox-beta">Checkbox beta</label>
									</div>
									<!-- Break -->
									<div class="col-12">
										<textarea name="textarea" id="textarea" placeholder="Alpha beta gamma delta" rows="6"><%=data[0].name%></textarea>
									</div>
									<div class="col-12">
												<input type="file" name="file" required="" value="<%=data[0].file%>">
											</div>
									<div class="col-12">
										<input type=password name=password placeholder="password" value="<%=data[0].password%>">
									</div>											<!-- Break -->
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Submit Form" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						<%}else{%>
							Record not found
						<%}%>
					</div>
				</div>
			</section>
		<!-- Footer -->
		 <%-include('templates/footer')%>
		<!-- Scripts -->
			<%-include('templates/footerjs')%>
	</body>
</html>