<!DOCTYPE HTML>
<html>
	<head>
		<title>Generic Page - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<%-include('templates/headstyle')%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("input[name=search]").keyup(function(){
					var key = $(this).val()
					$.ajax({
						method:"POST",
						url:"/search",
						data:{keyword:key},
						cache:true,
						header:{contentType: 'application/json'},
						dataType: "text",
						success:function(responce, responcetext){
							let arydata=JSON.parse(responce)
							if(arydata.status){
								var ary='';
								for(let a=0;a<arydata.result.length;a++){
									ary +="<tr><td>"+arydata.result[a].name+"</td><td>"+arydata.result[a].email+"</td><td>"+arydata.result[a].category+"</td><td><a href='edit/"+arydata.result[a].id+"'>Edit</a>/<a href='delete/"+arydata.result[a].id+"'>Delete</a></td></tr>"
								}
							}else{
								ary= '<td style="text-align:center" colspan="4">'+arydata.result+'</td>'
							}
							$("table tbody").html(ary);
						},
						error:function(error,result){
							console.log(error,result)
						}
					})
				})

			})
		</script>
	</head>
	<body class="is-preload">
		<!-- Header -->
		<%-include('templates/header')%>
		<!-- Heading -->
			<div id="heading" >
				<h1>Generic Page</h1>
			</div>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">						
						<div class="table-wrapper">
							<div>
								<form name=post>
									<input type=text  name=search placeholder="Search">
								</form>
							</div>
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>Email</th>
										<th>Category</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<% for(var a=0;a<data.length; a++) {%>	<tr>
											<td><%= data[a].name; %></td>
											<td><%= data[a].email %></td>
											<td><%= data[a].category %></td>
											<td>
												<a href="edit/<%= data[a].id %>">Edit</a> /
												<a href="delete/<%= data[a].id %>">Delete</a>
											</td>
										</tr>
									<%}%>																		
								</tbody>											 
							</table>
						</div>
					</div>
				</div>
			</section>
		<!-- Footer -->
		 <%-include('templates/footer')%>
		<!-- Scripts -->
			<%-include('templates/footerjs')%>
	</body>
</html>