<!DOCTYPE HTML>
<html>
	<head>
		<title>List Page - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<%-include('templates/headstyle')%> 
	</head>
	<body class="is-preload">
		<!-- Header -->
		<%-include('templates/header')%>
		<!-- Heading -->
			<div id="heading" >
				<h1>Shop Page</h1>
			</div>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<div class="table-wrapper">
							<% for(a=0;a<products.length;a++){%>
 								<div class="productlist">
 									<div class="pro-image">
 										<a href="/shop/<%=products[a].id%>"><img  src="/uploads/<%=products[a].product_image%>"></a>
 									</div>
 									<div class="proBody">
	 									<h3><a href="/shop/<%=products[a].id%>"><%=products[a].name%></a></h3>
	 									<p><strong>Price:</strong> $<%=products[a].price%></p>
	 									<p><strong>Categories:</strong> <%=products[a].categories%></p>
	 									<p>
	 										<strong>Description:</strong>
	 										<% description=products[a].description%>
	 										<%= description.substring(0, 100) %>
	 										<% if(description.length>100){ %> <a href="/shop/<%=products[a].id%>">Read More</a><%}%>
	 									</p>
	 									<!-- <div class="quity-section">
	 										<select>
	 											<%for(c=1;c<=10;c++){%>
	 											<option><%=c%></option>	
	 											<%}%> 											 
	 										</select>
	 									</div> -->
	 									<button class="addtocart" data-id='<%=products[a].id%>'>Add to Cart </button>					
 									</div>
 								</div>
							<%}%>
						</div>
					</div>
				</div>				
			</section>
		<!-- Footer -->
		 <%-include('templates/footer')%>
		<!-- Scripts -->
		<%-include('templates/footerjs')%>
	</body>
</html>
 