<!DOCTYPE HTML>
<html>
	<head>
		<title>List Page - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<%-include('templates/headstyle')%>		 
	</head>
	<body class="is-preload">
		<%-include('templates/header')%>
			<div id="heading" >
				<h1>Thanku  Page</h1>
			</div>
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">						 
						Thanku for order your order id is <%=orderResult%>	 		 	 
					</div>
				</div>				
			</section>
		<!-- Footer -->
		 <%-include('templates/footer')%>
		<!-- Scripts -->
		<%-include('templates/footerjs')%>
</style>
<script>
function increment_quantity(cart_id,id,product_id) {
	var inputQuantityElement = $("#input-quantity-"+cart_id);
    var newQuantity = parseInt($(inputQuantityElement).val())+1;
    save_to_db(cart_id, newQuantity,id,product_id);
}

function decrement_quantity(cart_id,id,product_id) {
    var inputQuantityElement = $("#input-quantity-"+cart_id);
    if($(inputQuantityElement).val() > 1) 
    {
    	var newQuantity = parseInt($(inputQuantityElement).val()) - 1;
    	save_to_db(cart_id, newQuantity,id,product_id);
    }
}

function save_to_db(cart_id, new_quantity,id,product_id) {
	// console.log(new_quantity,id,product_id)
	$.ajax({
		method:"POST",
		url:'/changeqty',
		data:{datakey:{id:id,product_id:product_id,qty:new_quantity}},
		cache:true,
		header:{contentType: 'application/json'},
		dataType:"text",
		success:function(res,responcetext){		
		},
		error:function(err,responce){
			console.log("*****");
		}
	})
	
	// var cartItem=localStorage.getItem("myCart")
	// console.log($(".checkoutProduct .section_"+id+"").html())
	var inputQuantityElement = $("#input-quantity-"+cart_id).val(new_quantity);
	let countsect=parseInt($(".checkoutProduct .section_"+id+" td:nth(2)").html())*new_quantity
	$(".checkoutProduct .section_"+id+" td:nth(5)").html(countsect)
	sumeachrow() //will work after increase the quantity of the product
}

let countact=$(".checkoutProduct tr").length
function sumeachrow(){
	var totalSum=''		
	for(a=0;a<countact;a++){
		var amount=$(".checkoutProduct tr:nth("+a+") td:nth(2)").html()
		var quantity=$(".checkoutProduct tr:nth("+a+") td:nth(4) input").val()
		let totalCount=parseInt(amount*quantity)
		totalSum = parseInt(totalCount+totalSum)			
		var quantity=$(".checkoutProduct tr:nth("+a+") td:nth(5)").html(totalCount)
	}
	$(".total-number-sum").html(totalSum)
}		
sumeachrow() // will work on load page to count all the prduct price

</script>
	</body>
</html>